/Cargo.lock

# IntelliJ-IDEA
*.iml
.idea/
.idea_modules/

package-lock.json
node_modules
bun.lockb

/target/*
!/target/release
/target/release/*
!/target/release/examples
/target/release/examples/*.d
/target/release/examples/euler_60-*